SERVER_PORT=3000

# Jwt
JWT_SECRET_KEY=your-secret-key
JWT_EXPIRATION_TIME=3600

# Postgres envioroment variables
RDS_HOSTNAME=nestjs-api-boilerplate_postgres
RDS_PORT=5432
RDS_USERNAME=your-postgres-username
RDS_PASSWORD=your-postgres-password
RDS_DB_NAME=your-postgres-db-name

# REDIS envioroment variables
REDIS_HOSTNAME=nestjs-api-boilerplate_redis
REDIS_PORT=6379
TTL=20
MAX=100

# ADMINER
ADMINER_PORT=8080

# aws configurations
## AWS S3
AWS_S3_ENDPOINT=http://nestjs-api-boilerplate_minio:9000
AWS_S3_PORT=9000
AWS_S3_ACCESS_KEY_ID=your-access-key-username
AWS_S3_SECRET_ACCESS_KEY=your-secret-access-key-username
AWS_S3_BUCKET_NAME=boilerplate-bucket

# NB:
# if you changed containers name in docker-compose.production.yml 
# please think to change them here also